:root {
  --color-primary: #0A2463;
  --color-bg-light: #dfe7fd;
  --font-base: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-light);
  font-family: var(--font-base);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  max-width: 360px;
  padding: 1rem;
}

.login-Box {
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
  text-align: center;
}

.Logo-square {
  width: 60px;
  height: 60px;
  margin: 0 auto 1.5rem;
}

.Logo-square img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15%;
  padding: auto;
}


h1 {
  font-size: 1.5rem;
  color: var(--color-primary);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1.5rem;
}

form input {
  width: 100%;
  padding: 20px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.95rem;
}

form input:focus {
  outline: none;
  border-color: var(--color-primary);
}

form button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

form button:hover {
  background-color: #081a4a;
}

.botonsito {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.botonsito:hover {
  background-color: #081a4a;
}

.forgot-link {
  display: block;
  font-size: 0.85rem;
  color: var(--color-primary);
  margin-top: 10px;
  margin-bottom: 10px;
}